# Introduction to scikit-learn

This notebook demostrates the useful functions of the scikitlearn library

What we are going to cover:

1. An end-to-end scikit-learn workflow
1. Getting the data ready
1. Choose the right estimator
1. Fit the model/algorithm and use it to make predictions on our data
1. Evaluating a model
1. Improving a model
1. Save and load a trained model
1. Put it all together

## 1. An end-to-end scikit-learn workflow

In [11]:
import numpy as np

In [6]:
# Getting the data ready
import pandas as pd

heart_desease = pd.read_csv('heart-disease.csv')

heart_desease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
# Create x(features matrix)

X = heart_desease.drop('target', axis=1)

# Create y(target vector)

y = heart_desease['target']

In [8]:
# Choose the right model and hyperparameters

from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

# We will keep the default Hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [9]:
# fit the model to the training data
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2)

In [10]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [13]:
# make a prediction

y_preds = clf.predict(X_test)

y_preds

array([1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0])

In [14]:
y_test

90     1
250    0
164    1
244    0
120    1
      ..
144    1
277    0
289    0
63     1
195    0
Name: target, Length: 61, dtype: int64

In [15]:
# Evaluate the model on the training data and test data
clf.score(X_train, y_train)

1.0

In [16]:
clf.score(X_test, y_test)

0.819672131147541

In [17]:
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.84      0.75      0.79        28
           1       0.81      0.88      0.84        33

    accuracy                           0.82        61
   macro avg       0.82      0.81      0.82        61
weighted avg       0.82      0.82      0.82        61

In [18]:
confusion_matrix(y_test, y_preds)

array([[21,  7],
       [ 4, 29]])

In [19]:
accuracy_score(y_test, y_preds)

0.819672131147541

In [21]:
# Improve a model
# Try different amount of n-estimators

np.random.seed(42)
for i in range(10,100,10):
  print(f'Trying models with {i} estimators...')
  clf = RandomForestClassifier(n_estimators= i).fit(X_train,y_train)
  print(f'Model accuracy on test set: {clf.score(X_test,y_test) * 100:.2f}%')
  print('')

Trying models with 10 estimators...
Model accuracy on test set: 78.69%

Trying models with 20 estimators...
Model accuracy on test set: 78.69%

Trying models with 30 estimators...
Model accuracy on test set: 81.97%

Trying models with 40 estimators...
Model accuracy on test set: 83.61%

Trying models with 50 estimators...
Model accuracy on test set: 85.25%

Trying models with 60 estimators...
Model accuracy on test set: 80.33%

Trying models with 70 estimators...
Model accuracy on test set: 83.61%

Trying models with 80 estimators...
Model accuracy on test set: 83.61%

Trying models with 90 estimators...
Model accuracy on test set: 85.25%

In [22]:
# Save a model and load it
import pickle

pickle.dump(clf, open('random_forrest_model.pkl', 'wb'))

In [23]:
loaded_model = pickle.load(open('random_forrest_model.pkl','rb'))

loaded_model.score(X_test,y_test)

0.8524590163934426